body {
    margin: 0;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
nav {
    white-space: nowrap;
    display: flex;
    height: 48px;
    padding: 4px;
    justify-self: center;
    background-color:rgb(37, 37,37);
    color: white;
    font-weight: 500;
    align-items: center;
}
.first-menu {
    display: none;
    cursor: pointer;
}
#menu,
#all,
#sin,
#pro,
#wlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 0 16px;
    cursor: pointer;
    height: 32px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}
#imdb {
    margin-left: 10px;
    height: 45px;
    width: 100px;
    cursor: pointer;
}
#menu {
    width: 5rem;
    margin:0;
    margin-left: 10px;
    font-size:14.5px;
}
#mimg{
    width: 18.7px;
    margin-right: 5px;
}




/* ------------------------- search ------------------------- */



#search {
    display: flex;
    align-items: center;
    width: 782.562px;
    margin-left: 10px;
}
#all {
    width: fit-content;
    padding: 0 7px;
    background-color: rgb(255,255,255);
    color: black;
    border-radius: 5px 0 0 5px;
}
#triangle {
    height: 5px;
    margin-left: 3px;
}
#all-list {
    display: none;
    position: absolute;
    color: white;
    list-style: none;
    margin-top:402px;
    width: 222px;
    background-color: rgb(46, 45, 45);
    border-top: 10px solid rgb(37, 37,37);
    border-bottom: 10px solid rgb(37, 37,37);
    cursor: pointer;
}
#all-list>li {
    display: flex;
    text-align: center;
    height: 50px;
    align-items: center;
}
#all-list>li:nth-child(7) {
    border-top:0.5px solid white ;
}
#list-img {
    width: 21px;
    padding: 10px;
}
.right-arrow{
    width: 21px;
    padding-left:35px;
}
input {
    display: flex;
    height: 20px;
    width: 100%;
    border:0;
    padding: 6.25px 0 6px 8px;
    border-left: 1px solid black;
    outline: none;
}
button {
    height: 32px;
    width: 40px;
    border: none;
    padding-right: 11px;
    border-radius: 0 5px 5px 0;
    background-color: white;
    outline: none;
    cursor: pointer;
}
/* ------------------------------- post search ---------------------------- */
#pro {
    width: 5rem;
    align-items: center;
    margin: 0 0 0 10px;
    padding: 0 8px 0 16px;
}
#vline {
    background-color: rgb(90,90,90);
    height: 32px;
    width: 2px;
    margin: 0 8px 0 8px;
}
#wl-img {
    border-radius: 2px;
    margin-right: 7px;
}
#sin {
    margin-right: 10px;
}
/* ----------------active's and hovers------------------------*/
#menu:active,
#imdb:active,
#pro:active,
#wlist:active,
#sin:active{
    border: 1px dashed white;
}
#menu:hover,
#pro:hover,
#wlist:hover,
#sin:hover {
    background-color: rgb(59,59,59);
}
#all-list>li:active {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
}
#all-list>li:hover {
    background-color: rgb(66,66,66);
}
#all-list>li>img:hover {
    filter:brightness(3);
}
#ls-adv:hover{
    text-decoration: underline;
}
#ls-adv:hover {
    text-decoration: underline;
}
#all:hover {
    background-color: rgb(221,221,221);
}

/* ------ for responsive ---------*/
@media only screen and (max-width:1300px) {
    #search {
        width: 500px;
    }
}
@media only screen and (max-width:1000px) {
    #search {
        width: 700px;
    }
    #pro,
    #wlist,
    #menu {
        display: none;
    }
    #vline{
        margin:0 8px 0 20px;
    }
    #sin {
        margin-right: 10px;
    }
    #imdb {
        padding: 0 5px;
    }
    .first-menu {
        display: flex;
        position: 0 10px 0 8px;
    }
    @media only screen and (max-width:500px) {
        input,
        #all,
        #vline,
        #all-list {
            display: none;
        }
        #search {
            justify-content: flex-end;
        }
        button {
            background: none;
            color: white;
            filter:brightness(2.5);
            border-radius: 50%;
        }
        button:hover {
            background: rgb(24,24,24);

        }
    }
}

#place-holder {
    text-align: center;
}
#article-holder {
    display: flex;
    margin-bottom: 10px;
}
#img-wrap {
    margin-left: 10px;
    border-left: 1px solid white;
    border-right:1px solid white ;
    width: 580px;
    max-width: 600px;
    height: 130vh;
}
#side-by-side {
    padding: 0 15px;
    margin-bottom: 10px;
    width: 80%;
    height: 130vh;
}
#contents {
    background: rgb(32, 31, 31);
    padding: 20px;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#same-img {
    width: 120px;
    height: 10em;
    margin-bottom: 10px;
}
#same-content {
    display: flex;
}
#same-name {
    margin: 0 20px;
    padding: 20px;
    text-align: justify;
    align-items:baseline;
}
.browse-trailer {
    display: flex;
    margin-left: 5px;
}
.browse-trailer:hover {
    color: yellow;
}

@media only screen and (max-width:600px) {
    #side-by-side {
        display: none;
    }
}
@media only screen and (max-width:930px) {
    #side-by-side {
        display: none;
    }
    #img-wrap {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:450px) {
    #img-wrap {
        width: 20em;
        height: 80vh;
    }
}
/* ------------- Featured Today -------------- */
#today-features {
    display: flex;
}
.today {
    display: flex;
    flex-direction: column;
}
.today-mood {
    display: flex;
    margin-left: 10px;
}
.today-img {
    width: 150px;
}
.same-today {
    overflow: hidden;
    margin-left: 10px;
}
.same-today:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* ------------------ Responsive ---------------- */
@media only screen and (max-width:450px) {
    .today-img {
        width: 5rem;
    }
}

/* ---------------------   Fan's Favorite ----------------- */
#fan-fav>h1 {
    margin-left: 10px;
}
#fan-fav>h2 {
    color:coral;
}
#fan-fav>h3,p {
    color: white;

}
#main-card {
    display: flex;
    margin-left: 10px;
}
.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
}
.card-width {
    width: 200px;
    height: 250px;
    margin-right: 10px;
}
.card-imdb {
    display: flex;
    align-items: stretch;
}
.card-star {
    margin-top: 10px;
    width: 25px;
    height: 27px;
    margin-right: 5px;
}
.name-card {
    color: aliceblue;
    padding: 8px;
    height: 2.5rem;
}
.watch-card {
    margin-right: 10px;
    padding: 2px;
    background:rgb(117, 115, 115);
    display: flex;
    border-radius: 8px;
    align-items: stretch;
    justify-content: center;
}
.card-plus {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
}
.card-para {
    padding: 0 7px;
    color:rgb(27, 240, 8);
}
.card-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.card-trailer>p {
    color: rgb(235, 232, 232);
    font-weight: bold;
    box-sizing: border-box;
}
.card-play {
    height: 25px;
    margin:3px;
}
/* --------------- hover ----------------- */
.name-card:hover {
    text-decoration: underline;
    cursor: pointer;
}
.watch-card:hover {
    background:rgb(90, 89, 89);
    cursor: pointer;
}
.card-trailer:hover {
    border-radius: 10px;
    margin-top:5px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(56, 55, 55);
    cursor: pointer;
}

/* ------------Responsive--------------------- */

@media only screen and (max-width:400px) {
    .card {
        width: 100px;
        display: flex;
        flex-direction: column;
        border: 2px solid gray;
    }
    .card-width {
        width: 100px;
        height: 150px;
        margin-right: 10px;
    }
    .card-star {
        margin-top: 10px;
        width: 15px;
        height: 17px;
        margin-right: 5px;
    }
    .name-card {
        color: aliceblue;
        padding: 4px;
        height:3.5rem;
        overflow: hidden;
    }
    .watch-card {
        margin-right: 5px;
        padding: 1px;
        background:rgb(117, 115, 115);
        display: flex;
        border-radius: 8px;
        align-items: stretch;
        justify-content: center;
    }
    .card-plus {
        width: 10px;
        height: 10px;
        margin-top: 20px;
    }
    .card-para {
        padding: 0 7px;
        color:rgb(64, 230, 180);
    }
    .card-trailer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-trailer>p {
        color: rgb(235, 232, 232);
        font-weight: bold;
    }
    .card-play {
        height: 15px;
        margin:3px;
    }
}

#explore-stream {
    display: flex;
    padding: 0;
}
.list-stream {
    padding-left:0 ;
    float: left;
    color:aqua;
    padding: 12px 20px;
    list-style:none;
    text-decoration: none;
}
.list-stream:hover {
    cursor: pointer;
    background-color: rgb(48, 47, 47);
}
.active1 {
    border-bottom: 2px solid yellow;
}

#scroll-features {
    overflow:auto;
}
#scroll-features::-webkit-scrollbar {
    display: none;
}


/* ------------------- Theatres ----------------- */

#theatres>h1,h2 {
    margin-left: 10px;
    color: yellow;
}
#theatres>div {
    margin-left: 10px;
}
#theatres>div>p {
    color: wheat;
}
#main-card1 {
    display: flex;
}

#site-end {
    margin-left: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cmn-end {
    display: flex;
    margin-bottom: 40px;
}
#cmn-end>p {
    margin-right: 40px;
}
#cmn-end>img {
    color: white;
    margin-right: 70px;
    width: 2rem;
}
#cmn-end>img:hover {
    box-sizing: border-box;
    background: rgb(82, 80, 80);
    padding: 5px;
    border-radius: 50%;
}
#cmn-end>p:hover {
    text-decoration: underline;
    cursor: pointer;
}


 /* --------------- Responsiveness ------------------ */ 
